* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(15, 15, 15);
}

#content-vid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    text-align: center;
}

#content-vid > #titulo {
    margin: 10px;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.596);  
}
#content-vid > a {
    color: white;
}

#buttons {
    display: flex;
    justify-content: space-between;
}

#content-vid > video {
    margin: 1rem;
    border: 1px solid black;
}


#buttons > button {
    padding: 10px;
    border-radius: 1rem;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    opacity: 0.7;
    margin: 0px 10px;
    transition: 1s;
}

#buttons > button:hover {
    opacity: 1;
}



